---
import Section, { type Color } from '@/components/Section.astro'
import Text from '@/components/Text.astro'
import Badge from '@/components/Badge.astro'
import InfiniteScroll from '@/components/Misc/InfiniteScroll.astro'
import type { CMSImage } from '@/types/content'

export interface Props {
  id: string
  title: string
  badge: string
  images?: CMSImage[]
  color?: Color
}

const { id, title, badge, color, images = [] } = Astro.props
---

<Section
  id={id}
  color={color}>
  <div class='flex flex-col items-center gap-6 mb-12'>
    <Badge text={badge} />

    <Text
      tag={'h2'}
      variant={'title'}
      innerHTML={title}
    />
  </div>

  <InfiniteScroll items={images} />
</Section>
