---
import Text from '@/components/Text.astro'
import type { CMSImage } from '@/types/content'

interface Props {
  text: string
  href: string
  icon?: CMSImage
}

const { text, href, icon = null } = Astro.props

const hasIcon = icon != null
---

<li
  class='flex items-center gap-2 border-b-2 transition-colors delay-150 border-transparent hover:border-primary'>
  {
    hasIcon && (
      <img
        src={icon.url}
        alt={icon.alternativeText}
        width={icon.width}
        height={icon.height}
        loading='lazy'
        class='h-6 w-auto p-0.5'
      />
    )
  }

  <Text
    tag='a'
    variant={'badge'}
    href={href}
    class='block text-nowrap px-3 py-2 rounded-sm md:p-0'
    aria-current='page'
    innerHTML={text}
  />
</li>
