---
import Section from '@/components/Section.astro'
import Text from '@/components/Text.astro'
import Logo from '@/assets/logo.svg'

import ServiceLink from './components/ServiceLink.astro'

import { Link } from '@/consts/link'
---

<Section
  id='footer'
  tag={'footer'}
  variant={'small'}>
  <a href='/' aria-label="logo suads">
    <Logo class='mb-8' />
  </a>

  <ul class='flex flex-wrap gap-16 *:space-y-4'>
    <li>
      <Text>info@suads.agency</Text>
      <Text>+598 664421</Text>
      <Text>Arturo santana 672</Text>
    </li>

    <li class='max-w-72'>
      <Text class='uppercase tracking-widest'>Somos Suads</Text>
      <Text variant={'badge'}
        >Somos Suads una agencia de Marketing Digital especializada en
        publicidad online, diseño gráfico y desarrollo web. Creamos estrategias
        personalizadas que conectan tu marca con los clientes ideales,
        ayudándote a aumentar tu visibilidad, mejorar la experiencia digital y
        lograr resultados tangibles</Text
      >
    </li>

    <li>
      <Text class='uppercase tracking-widest'>Servicios</Text>
      <div class='flex gap-4'>
        <div class='w-1/2 space-y-4'>
          <ServiceLink href={Link.ads} text={'Publicidad en Instagram y facebook'} />
          <ServiceLink href={Link.ads} text={'Publicidad en Google ads'} />
          <ServiceLink href={Link.webdev} text={'Diseño web'} />
          <ServiceLink href={Link.webdev} text={'Desarrollo web'} />
          <ServiceLink href={Link.design} text={'Diseño grafico'} />
        </div>

        <div class='w-1/2 space-y-4'>
          <ServiceLink href={Link.design} text={'Branding estrategico y posicionamiento de marca'} />
          <ServiceLink href={Link.ads} text={'Optimizacion de funnels de conversión'} />
          <ServiceLink href={Link.ads} text={'Adquisicion y conversion de clientes'} />
        </div>
      </div>
    </li>
  </ul>
</Section>
