---
import Text from '@/components/Text.astro'
import Arrow from '@/assets/arrow.svg'
import type { CMSBasicCard } from '@/types/content'

export interface Props extends CMSBasicCard {
  title: string
  body?: string
  name: string
  expanded?: boolean
}

const { title, body='', name, expanded} = Astro.props
const headingID = `accordion-heading-${name}`
const bodyID = `accordion-body-${name}`
---

<li data-accordion-item>
  <h2
    id={headingID}
    data-trigger>
    <button
      type='button'
      class='flex items-center justify-between w-full py-5 rtl:text-right border-b border-neutral-200 gap-3'
      data-accordion-target={bodyID}
      aria-expanded={expanded}
      aria-controls={bodyID}>
      <Text
        tag={'span'}
        variant={'cardTitle'}
        innerHTML={title}
      />

      <Arrow
        data-accordion-icon
        class='w-5 h-5 shrink-0'
        aria-hidden='true'
      />
    </button>
  </h2>

  <div
    id={bodyID}
    class='hidden'
    data-target
    aria-labelledby={headingID}>
    <div class='py-5 border-b border-neutral-200'>
      <Text
        variant={'cardBody'}
        innerHTML={body}
      />
    </div>
  </div>
</li>
